<template>
    <div class="home">

        <div style="width: 65%;height: 100vh;">
            <img width="100%" height="100%" src="../assets/main.png" alt="">

        </div>

                <el-form  :model="form":rules="rules" status-icon  ref="ruleForm" label-width="100px" class="demo-ruleForm">
                    <el-form-item prop="accress">
                        <div>用户名</div>
                        <el-input  placeholder="请输入用户名" v-model="form.accress" autocomplete="off"></el-input>
                    </el-form-item >
                    <el-form-item prop="password">
                        <div>密码</div>
                        <el-input type="password" placeholder="请输入密码" v-model="form.password" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button  style=" width: 100%;background-color:  #224B80;color: white" @click="login('ruleForm')">登录</el-button>
                    </el-form-item>


                </el-form>
    </div>
</template>

<script>

    import {Login} from "@/api/baseService";

    export default {

        name: 'Home',
        data() {
            return {

                rules:{
                    accress:[
                        { required: true, message: '请输入用户名', trigger: 'blur' },
                    ],
                    password:[ { required: true, message: '请输入密码', trigger: 'blur' },]
                },
                form:{
                    accress:'',
                    password:'',

                }
            }
        },
        methods:{
            repeat(){

            },
          login(formName){
             //
              this.$refs[formName].validate((valid) => {
                  if (valid) {
                      this.$axios.post(Login,this.form)
                          .then(res=> {
                              //console.log(res.data.token);
                              if(res.message == 'Success'){
                                  localStorage.setItem("token",res.data.token)
                                  this.$store.commit('Get_UserInfo',res.data.user_info)
                                  console.log(this.$store.state.userInfo)
                                  this.$router.push('/main')
                              }else {
                                  alert('账号或者密码错误')
                                  console.log('密码错误')
                              }
                          })

                  } else {
                      console.log('error submit!!');
                      return false;
                  }
              })

          },
           /* register(){
              this.$router.push('/register')
            }*/
        },
        components: {}
    }
</script>
<style>
    .home{
        display: flex;
        align-items: center;
        
    }
    .demo-ruleForm{
        width: 400px;
    }

</style>
