<template >
    <div class="main">

        <Aside id="aside"/>
        <div id="out-container">
            <Head id="head"/>
            <!--重置密码-->
            <el-dialog
                    :show-close="false"
                    id="dialog"
                    top="35vh"
                    width="280px"
                    :close-on-click-modal="false"
                    title="修改密码"
                    :visible.sync="$store.state.editUser">


                <span>
                <el-form label-width="70px">
                    <!--<el-form-item  label="当前密码">
                         <el-input style="width: 170px" size="mini" type="password" />
                    </el-form-item>-->
                    <el-form-item  label="新密码">
                        <el-input  style="width: 170px" size="mini" type="password" v-model="pwd"/>
                    </el-form-item>
                     <el-form-item  label="确认密码">
                        <el-input  style="width: 170px" size="mini" type="password" v-model="surepwd"/>
                    </el-form-item>
                </el-form>
            </span>
                <span slot="footer" class="dialog-footer">
                <el-button size="mini" plain @click="closeEdit">取 消</el-button>
                <el-button  size="mini" plain type="primary" @click="sureEditUser">确定</el-button>
            </span>
            </el-dialog>

            <div id="in-container">
                <router-view/>
            </div>
        </div>
    </div>
</template>
<script>

    import Aside from "@components/Aside.vue";
    import Head from "@components/Head";
    import Main_table from "@components/MainTable";
    import {UpdatePwd} from "@/api/baseService";

    export default {
        data(){
            return{
                surepwd:'',
                pwd:''
            }
        },
        created() {
            this.$store.commit('Get_UserInfo',JSON.parse(sessionStorage.userInfo))
            console.log(sessionStorage.userInfo)
            console.log(JSON.parse(sessionStorage.userInfo))
        },
        methods:{
            closeEdit(){
                this.$store.commit('EDIT_USER',false)

            },
            sureEditUser(){
                if(this.pwd == this.surepwd){
                    this.$axios.post(UpdatePwd+'?Id='+this.$store.state.userInfo.id+'&pwd='+this.pwd).then( this.$router.push('/'),this.$message.success('修改成功'))
                    this.$store.commit('EDIT_USER',false)
                    this.pwd = ''
                    this.surepwd = ''
                }else {
                    alert('两次密码不同')
                    this.pwd = ''
                    this.surepwd = ''
                }

            }
        },
        components: {Main_table, Head, Aside},

    }

</script>
<style>
    .main {
        display: flex;
    }
    #out-container {
        display: flex;
        flex-flow: column;
        flex: 1
    }
    #aside{
    }

    #head {
        height: 40px;
       /* width: 100%;*/
       /* z-index: 1;*/
    }
    #in-container {
        height: 89vh;
        margin-left: 150px;
        margin-top: 40px;
        background-color: #F2F2F2;

        padding: 18px 18px 0 18px;
        overflow: auto;
    }



</style>