<template>
    <el-form :model="form" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="账号" prop="accress">
            <el-input v-model="form.accress"></el-input>
        </el-form-item>
        <el-form-item label="名称" prop="name">
            <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item  label="密码" prop="password">
            <el-input show-password v-model="form.password"></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="password2">
            <el-input show-password v-model="password2"></el-input>
        </el-form-item>
        <el-form-item label="phone" prop="phone">
            <el-input  maxlength="11" oninput = "value=value.replace(/[^\d]/g,'')" v-model="form.phone"></el-input>
        </el-form-item>
        <el-form-item label="email" prop="email">
            <el-input v-model="form.email"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
            <el-button @click="resetForm('ruleForm')">重置</el-button>
        </el-form-item>
    </el-form>
</template>
<script>
    import {addUser} from "@/api/baseService";
    export default {
        name: "register",
        data() {

            let validatePass2 = (rule, value, callback) => {
                if (this.password2 == '') {
                    callback(new Error('请再次输入密码'));
                } else if (this.password2 !== this.form.password) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };

            return {

                msg:'两次密码输入不同',
                password2:'',
                form: {
                    name: '',
                    accress: '',
                    password: '',
                    phone: '',
                    email: '',
/*     \w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*      */
                },
                rules: {
                    name: [
                        { required: true, message: '请输入名称', trigger: 'blur' },
                        //{ min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
                    ],
                    password: [
                        { required: true, message: '请输入密码', trigger: 'blur' }
                    ],
                    accress: [
                        { required: true, message: '请输入账号', trigger: 'blur' }
                    ],
                    password2: [
                        { required: true,validator: validatePass2, trigger: 'blur' }
                    ],
                    email: [
                        { type: 'email', message: '请输入正确的邮箱地址', trigger: 'blur'}
                    ]

                }
            };
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.$axios.post(addUser,this.form)
                        alert('注册成功');
                        this.$router.push('/')

                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.password2=''
                this.$refs[formName].resetFields();
            }
        }
    }
</script>
<style scoped>
</style>