<template>
    <div id="div" >
            <el-col :span="12">
                <el-menu
                        text-color="#F2F2F2"
                        background-color="#282526"
                        default-active="1"
                        active-text-color="#ffd04b"
                        class="el-menu-vertical-demo"
                        @open="handleOpen"
                        @close="handleClose">
                    <img  style="background-color:#2F73C2;z-index: 1;padding: 19px;"  width="112px" height="12px" src="../assets/LOGO.png" alt="">
                    <div style="min-height: 20px"></div>
                    <router-link to="/main">
                    <el-menu-item index="1">
                        <i class="el-icon-menu"></i>
                        <span style="font-size: 14px" slot="title">版本管理</span>
                    </el-menu-item>
                    </router-link>
                    <router-link to="/manage">
                        <el-menu-item index="2">
                            <i class="el-icon-user-solid"></i>
                            <span style="font-size: 14px" slot="title">用户管理</span>
                        </el-menu-item>
                    </router-link>
                    <router-link to="/log">
                        <el-menu-item index="3">
                            <i class="el-icon-s-order"></i>
                            <span style="font-size: 14px" slot="title">登录日志</span>
                        </el-menu-item>
                    </router-link>
<!--
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-location"></i>
                            <span>版本管理</span>
                        </template>
                        <el-menu-item-group>
                            <router-link to="/main"><el-menu-item @select="handleOpen" class="el-menu-item"index="1-2">版本管理</el-menu-item></router-link>
                        </el-menu-item-group>
                    </el-submenu>-->
                <!--    <el-submenu index="2">
                        <template slot="title">
                            <i class="el-icon-location"></i>
                            <span>系统管理</span>
                        </template>

                        <router-link to="/manage">
                            <el-menu-item index="2-1">

                                <span slot="title">用户管理</span>
                            </el-menu-item>
                        </router-link>
                        <router-link to="log">
                            <el-menu-item index="2-2">

                                <span slot="title">登录日志</span>
                            </el-menu-item>
                        </router-link>


                    </el-submenu>-->

                </el-menu>
            </el-col>


    </div>
</template>

<script>
    export default {
        name: "Aside",
        methods: {
            handleOpen(key, keyPath) {
                console.log('12')
            },
            handleClose(key, keyPath) {

            }
        }
    }
</script>

<style scoped>
    #div{


    }
    .el-menu-vertical-demo{
        height:100%;
        z-index: 1;
        position: fixed;
        flex: 1;
        width: 150px;
    }
    .el-menu-vertical-demo.el-menu-item{
        width: 150px;

    }
    .el-submenu .el-menu-item{
        min-width:150px;
        line-height: 30px;
        height:30px
    }
    a{
        text-decoration: none;
    }
    .el-menu-item{
        font-size: 12px;
        height: 30px;
        line-height: 30px;

    }
   ::v-deep .el-menu-item-group__title{
        padding: 0;
    }
   ::v-deep .el-submenu__title{
        height: 30px;
        line-height: 30px;
    }
    .el-menu-item:hover{
        color: #fff;
        
        }
</style>