<template>
    <div id="head">
            <el-breadcrumb style="margin-left: 20px" separator-class="el-icon-arrow-right">

            </el-breadcrumb>
        <div id="div">
           <!-- <el-avatar size="small" :src='"https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png"'></el-avatar>
            &nbsp;-->
            <!--<i @click="userInfo">{{userName}}</i>-->

            <el-dropdown trigger="click">
                  <span style="margin-right: 20px;;font-size: 13px;color:#FFF;" class="el-dropdown-link">
                    <i class="el-icon-user-solid"></i>{{$store.state.userInfo.name}}<i class="el-icon-arrow-down el-icon--right"></i>
                  </span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item  icon="el-icon-edit"><i @click="editUser">修改密码</i></el-dropdown-item>
                    <router-link to="/"> <el-dropdown-item ><img style="margin-bottom: -2px ;margin-right: 6px" width="13px" src="@/assets/logout.png"><i @click="logout">退出</i></el-dropdown-item></router-link>
                </el-dropdown-menu>
            </el-dropdown>


           <!--<el-link @click="editUser" style="font-size: 12px;color: white" :underline="false"> <i class="el-icon-user-solid"></i>{{$store.state.userInfo.name}}</el-link>
            &nbsp;&nbsp;&nbsp;
            <img  @click="logout" width="50px" src="../assets/out.png" alt="" title="退出">-->
        </div>

    </div>
</template>

<script>
    export default {
        created() {
            },
        name: "Head",
        data(){
            return{
                a:false
            }
        },
        methods:{
            editUser(){
                this.$store.commit('EDIT_USER',true)
            },
            logout(){
               // console.log('123')
                //this.$router.push('/')
                localStorage.clear()
            }
        }

    }
</script>

<style scoped>
    #head{
        background-color: #2F73C2;
        position: fixed;
        float: left;
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    #div{
        display: flex;
        align-items: center;
    }
    a {
        text-decoration:none
    }
</style>