<template>
    <div >
        <!--搜索框-->
        <div style="margin-bottom: 16px">
            <label  style="margin-right: 8px;font-size: 12px;color:#616265">用户名</label>
            <el-input v-model = searchData.accress style="width: 140px;"/>
            <label style="font-size: 12px;color:#616265;margin-left: 16px;margin-right: 8px">登陆时间</label>

                 <el-date-picker
                         size="mini"
                         style="padding-right:0 ;position: relative;top:2px;width: 300px;line-height: 182px"
                         v-model="loginTime"
                         format="yyyy-MM-dd"
                         value-format="yyyy-MM-dd"
                         type="daterange"
                         prefix-icon="el-icon-date"
                         range-separator="至"
                         start-placeholder="开始日期"
                         end-placeholder="结束日期">
                </el-date-picker>
            <el-button  @click="search"   style="margin-left: 8px;padding: 2px;height: 26px;width: 26px;color: #2F73C2" size="mini"><i class="el-icon-search"></i></el-button>
            <el-button @click="cleanData" style="background-color:#2F73C2;margin-left: 8px;padding: 2px;height: 26px;width: 40px;font-size: 12px;color: #fff" size="mini"><div style="transform: scale(0.8)">置空</div></el-button>


        </div>
        <div style="width: 87vw;height: 620px;background-color:#fff;">
        <el-table
                height="580px"
                class="addTable"
                :stripe="true"
                :data="tableData"
                >
            <el-table-column
                    :index="indexNumber"
                    type="index"
                    label="序号"
                    width="90">
            </el-table-column>
            <el-table-column
                    prop="userName"
                    label="用户名">
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="登陆时间">
            </el-table-column>
            <el-table-column
                    prop="ipAddress"
                    label="IP">
            </el-table-column>
            <el-table-column
                    prop="content"
                    label="描述">
            </el-table-column>
        </el-table>
            <!--分页栏-->
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :page-sizes="[10, 20, 50, 100]"
                    :page-size="pageSet.pageSize"
                    :current-page="pageSet.pageIndex"
                    :total="pageSet.totalCount"
                    :data="tableData"
                    id="pagination"
                    layout="prev, pager, next"
            >
            </el-pagination>
        </div>

    </div>

</template>

<script>
    import {getList, GetLogList} from "@/api/baseService";
    export default {
        created() {
            this.getLoginLog()
        },
        name: "LoginLog",
        data(){
            return{
                loginTime: ['',''],
                searchData:{
                    accress:'',
                    startDate:'',
                    endDate: '',
                    pageIndex: 0,
                },
                pageSet: {
                    totalCount: 0,
                    pageSize: 0,
                    pageIndex: 1,
                },
                options: [],
                tableData:[]
            }
        },
        methods: {
            //清空
            cleanData(){
                this.searchData.accress = this.searchData.endDate = this.searchData.startDate = ''
                this.loginTime=[,]
                this.getLoginLog()

            },
            //搜索
            search(){
                this.searchData.startDate = this.loginTime[0]
                this.searchData.endDate = this.loginTime[1]
                this.searchData.pageIndex = 0
                this.$axios.post(GetLogList,this.searchData)
                    .then(res=>{
                        console.log(res);
                        this.pageSet.totalCount=res.data.totalCount
                        this.tableData = res.data.data
                    })
                /*console.log(this.loginTime)
                console.log(this.searchData.startDate)
                console.log(this.searchData.endDate)*/
            },
            //获取登录日志
            getLoginLog(){
                this.$axios.post(GetLogList,{pageIndex: this.pageSet.pageIndex})
                    .then(res=>{
                        console.log(res)
                        this.tableData = res.data.data
                        this.pageSet.pageSize = res.data.pageSize;
                        this.pageSet.totalCount = res.data.totalCount;
                        this.pageSet.pageIndex = 1
                    })
            },
            //每页行数改变
            handleSizeChange: function (size) {
                this.pageSet.pageSize = size;
            },
            //当前页改变
            handleCurrentChange: function (pageIndex) {
                this.pageSet.pageIndex = pageIndex
                this.searchData. pageIndex = pageIndex
                //this.getList({pageIndex:pageIndex})
                this.$axios.post(GetLogList, this.searchData)
                    .then(res => {
                        console.log(res.data.data);
                        this.tableData = res.data.data
                    })
            },
            //设置表格INDEX
            indexNumber(index) {
                return (this.pageSet.pageIndex - 1) * this.pageSet.pageSize + index + 1
            },
        }

    }
</script>

<style scoped>

    #pagination {
        margin-top: 8px;;
        float: right;
    }
    .addTable {
        font-size: 12px;
        padding: 6px;
        /*max-width: 1340px;*/
    }
    /deep/ .el-input__inner{
        height: 25px;
    }
    .el-table::before{
        height: 0;
    }
    >>>.el-date-editor .el-range__close-icon{
        width: 0;
    }
    >>>.el-range-editor--mini .el-range-separator{
        line-height: 17px;
    }
</style>