<template>
    <div id="main">
        <el-button style="color:#FFFFFF;height: 26px;background-color:#2F73C2 ; padding:6px 0 6px 0;margin-bottom: 9px"
                   @click="getCode" size="small "
        >
            <div style="transform: scale(0.8)">添加APP项目</div>
        </el-button>
        <div style=";min-height: 84vh;background-color:#fff;">
            <el-table
                    height="80vh"
                    :lazy="true"
                    class="addTable"
                    :stripe="true"
                    :data="tableData"
            >
                <!--  :data="tableData.slice((pageSet.pageIndex-1)*pageSet.pageSize,pageSet.pageIndex*pageSet.pageSize)"-->

                <el-table-column
                        type="index"
                        :index="indexNumber"
                        label="序号"
                        width="90">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="项目名称">
                </el-table-column>
                <el-table-column
                        width="100"
                        prop="code"
                        label="项目编号">
                </el-table-column>
                <el-table-column
                        width="100"
                        prop="manufacturer"
                        label="制造商">
                </el-table-column>
               <!-- <el-table-column
                        prop="type"
                        label="APP类型">
                </el-table-column>-->
                <el-table-column
                        prop="updateTime"
                        label="最后更新时间">
                </el-table-column>
                <el-table-column
                        label="APK下载地址">
                    <template slot-scope="scope">
                       <el-button v-if="APPPathFull(scope.$index,tableData)" class="tag-read" size="mini" :data-clipboard-text="scope.row.filePath" @click="copy">点击复制地址</el-button>

<!--
                        <el-button class="tag-read"  :data-clipboard-text="scope.row.filePath" @click="copy" size="mini">点击复制地址</el-button>
-->

                    </template>
                </el-table-column>
                <el-table-column
                        width="80"
                        prop="operator"
                        label="更新人">
                </el-table-column>
                <el-table-column
                        label="操作">
                    <template slot-scope="scope">
                        <el-button @click="editApp(scope.$index,tableData)" style="color:#8fd76e;" size="mini"
                                   type="text"><i
                                class="el-icon-edit">编辑</i></el-button>
                        <el-button @click="getVerList(scope.$index,tableData)" size="mini" type="text"><i
                                class="el-icon-document-remove">版本</i></el-button>
                        <el-button @click.native.prevent="deleteApp(scope.$index,tableData)" style="color:#FC7841;"
                                   size="mini" type="text"><i class="el-icon-delete">删除</i>
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <!--分页栏-->
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :page-sizes="[10, 20, 50, 100]"
                    :page-size="pageSet.pageSize"
                    :current-page="pageSet.pageIndex"
                    :total="pageSet.totalCount"
                    :data="tableData"
                    id="pagination"
                    layout="prev, pager, next"
            >
            </el-pagination>
        </div>
        <!--弹出的操作框-->
        <!---添加-->
        <el-dialog
                :show-close="false"
                :destroy-on-close="true"
                class="el_dialog"
                :close-on-click-modal=false
                title="添加"
                :visible.sync=dialogAdd
                top="30vh"
                width="350px">
                <span>
                    <div style="width: 100%;">
                          <el-form ref="addAppForm" label-width="auto" v-model="addTableData">
                              <el-form-item label="上传APK">
                                  <!--上传APK-->
                                      <el-upload
                                              style="display: inline-block"
                                              ref="uploadApk"
                                              :headers="token"
                                              :on-remove="onRemove"
                                              class="upload-demo"
                                              :action='Upload'
                                              :on-success="uploadSuccessApk"
                                              :before-remove="beforeRemove"
                                              accept=".apk"
                                              :limit="1"
                                              :on-exceed="handleExceed"
                                              >
                                          <el-button size="small" type="primary">点击上传</el-button>
                                      </el-upload>
<!--
                    <label  style=" display: inline-block;font-size:12px;margin-left: 10px;height: 10px;">只能上传APK文件</label>
-->
                              </el-form-item>
                              <el-form-item required class="el-form-item" label="项目名称">
                                  <el-input v-model="addTableData.name" size="mini"/>
                              </el-form-item>
                              <!--<el-form-item class="el-form-item" label="APP类型">
                                  <el-input v-model="addTableData.type" size="mini"/>
                              </el-form-item>-->
                              <el-form-item  required class="el-form-item"  label="项目编号">
                                  <el-input disabled show-word-limit maxlength="6"  onpaste="return false" v-model="addTableData.code" size="mini"/>
                              </el-form-item >

                              <el-form-item  required class="el-form-item" label="制造商">
                                   <el-select style="width: 220px" size="mini" v-model="addTableData.manufacturer" placeholder="请选择">
                                  <el-option
                                          v-for="item in manufacturer"
                                          :key="item.value"
                                          :label="item.label"
                                          :value="item.value">
                                  </el-option>
                              </el-select>
                              </el-form-item>
                    </el-form>
                    </div>
                  </span>
            <span slot="footer" class="dialog-footer">
                    <el-button size="mini"  @click="cleanUploadAPK"
                               >取 消</el-button>
                    <el-button size="mini" type="primary" :disabled="isclick" @click="add()">确 定</el-button>
                </span>
        </el-dialog>
        <!--编辑-->
        <el-dialog
                :show-close="false"
                class="el_dialog"
                :close-on-click-modal=false
                title="编辑"
                :visible.sync=dialogVisibleedit
                top="30vh"
                width="350px">
                <span>
                    <div style="width: 100%;">
                          <el-form size="" label-width="auto">
                       <!-- <el-form-item class="el-form-item" label="APP类型">
                        <el-input v-model="editAppData.type" size="mini"/>
                        </el-form-item>-->
                             <!-- <el-form-item class="el-form-item" label="上传APK">
                                  <el-upload
                                          ref="updateApk"
                                          :on-remove="onRemove"
                                          :on-success="editSuccessApk"
                                          :limit=1
                                          accept=".apk"
                                          :data="{id:editAppData.id}"
                                          :before-remove="beforeRemove"
                                          :on-exceed="handleExceed"
                                          class="upload-demo"
                                          :action='Upload'>
                             &lt;!&ndash;      <el-input size="mini" v-model="addVer.fileName" readonly
                                             style="width: 150px;margin-left: -0px;margin-right: 8px"/>&ndash;&gt;
                                <el-button size="small" style="padding: 6px" plain type="primary">点击上传</el-button>
                            </el-upload>
                              </el-form-item>-->
                        <el-form-item class="el-form-item" label="APP名称">
                         <el-input v-model="editAppData.name" size="mini"/>
                        </el-form-item>
                        <el-form-item class="el-form-item" label="制造商">
                         <el-input v-model="editAppData.manufacturer" disabled size="mini"/>
                        </el-form-item>
                    </el-form>
                    </div>
                  </span>
            <span slot="footer" class="dialog-footer">
    <el-button size="mini" @click="cancelUpload">取 消</el-button>
    <el-button size="mini" type="primary" :disabled="isclick" @click="sureEditAPP" >确 定</el-button>
  </span>
        </el-dialog>
        <!--版本-->
        <el-dialog
                :show-close="false"
                class="popout-box"
                :close-on-click-modal="false"
                :title="AppName"
                :visible.sync="dialogVisibleVersion"
                top="20vh"
                width="1250px">
                <span>
                    <el-button style="margin-top: 8px;" @click="dialogAddVer = true" type="primary"
                               size="mini">添加软件版本</el-button> <a style=" text-decoration:none" :href="APPFILE">点击下载APK文件</a>
                    <!--弹窗列表-->
                    <el-table
                            :row-style="TableRowStyle"
                            highlight-current-row
                            :row-class-name=tableRowClassName
                            class="addTable"
                            :stripe="true"
                            :data="verTableData"
                            style=" overflow: auto;font-size: 12px;width: 100%">
                        <el-table-column
                                type="index"
                                label="序号"
                                width="70">
                        </el-table-column>
                        <el-table-column
                                width="70"
                                prop="name"
                                label="软件版本">
                        </el-table-column>
                        <el-table-column
                                width="180"
                                prop="fileName"
                                label="版本文件名称">
                        </el-table-column>
                        <el-table-column
                                width="90"
                                prop="size"
                                label="大小">
                        </el-table-column>
                        <el-table-column
                                width="180"
                                prop="releaseDate"
                                label="发布日期">
                        </el-table-column>
                        <el-table-column
                                width="180"
                                prop="updateTime"
                                label="最后更新时间">
                        </el-table-column>
                        <el-table-column
                                width="80"
                                prop="operator"
                                label="更新人">
                        </el-table-column>
                        <el-table-column
                                width="110"
                                label="版本描述">
                                 <template slot-scope="scope">
                                    <el-popover
                                            placement="left"
                                            width="40"
                                            trigger="click"
                                            :content="look1">
                                      <!--  <div>{{this.addTableData.manufacturer}}</div>-->
                                    <el-button  @click="look(scope.$index,verTableData)" style="padding-left: 0;padding-right: 0" size="mini" slot="reference">点查看版本描述</el-button>
                                  </el-popover>

                                 </template>
                        </el-table-column>
                        <!--<el-table-column
                                width="140"
                                prop="code"
                                label="版本升级码">
                        </el-table-column>-->
                        <el-table-column
                                width="250"
                                label="操作">
                             <template slot-scope="scope">
                                 <!--<el-button v-show="isAPK(scope.$index,verTableData)" v-if="scope.row.isRelease" @click="release(scope.$index,verTableData)"
                                            slot="reference"
                                            size="mini" type="text"><i
                                         class="el-icon-s-promotion">已发布</i></el-button>-->
                                 <el-button v-show="isAPK(scope.$index,verTableData)" style="color: gray" v-if="!scope.row.isRelease"
                                            @click="release(scope.$index,verTableData)" slot="reference"
                                            size="mini" type="text"><i
                                         class="el-icon-s-promotion">未发布</i></el-button>
                                 <el-button v-show="isAPK(scope.$index,verTableData)" @click="editVer(scope.$index,verTableData)" style="color:#8FD76E;"
                                            size="mini" type="text"><i
                                         class="el-icon-edit">编辑</i></el-button>
                                 <el-button v-show="isAPK(scope.$index,verTableData)" v-if="scope.row.isRecommend" @click="suggest(scope.$index,verTableData)"
                                            slot="reference" style="color:#F8C04D;"
                                            size="mini" type="text"><i
                                         class="el-icon-thumb">推荐</i></el-button>
                                  <el-button v-show="isAPK(scope.$index,verTableData)" v-else="!scope.row.isRecommend" @click="suggest(scope.$index,verTableData)"
                                             slot="reference" style="color:gray;"
                                             size="mini" type="text"><i
                                          class="el-icon-thumb">推荐</i></el-button>
                                 <el-button @click.native.prevent="deleteVer(scope.$index,verTableData)"
                                            slot="reference" style="color:#FC7841;"
                                            size="mini" type="text"><i
                                         class="el-icon-delete">删除</i></el-button>
                             </template>
                        </el-table-column>
            </el-table>
                </span>
            <span slot="footer" class="dialog-footer">
    <el-button size="mini" @click="dialogVisibleVersion = false">取 消</el-button>
    <el-button size="mini" type="primary" @click="dialogVisibleVersion = false">确 定</el-button>
  </span>
        </el-dialog>
        <!--删除-->
        <el-dialog
                :show-close="false"
                class="prompt"
                top="35vh"
                width="280px"
                :close-on-click-modal="false"
                title="提示"
                :visible.sync="dialogDle">
            <span>
                <div style="font-size: 12px;position: relative;left:0px;top:20px ;height: 10px"><i
                        style="color:#FF9900;transform: scale(2);margin-right: 10px" class="el-icon-warning"></i><i>确定是否删除？</i></div>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button size="mini" plain @click="dialogDle = false">取 消</el-button>
                <el-button size="mini" plain type="primary" @click="sureDelete">确 定</el-button>
            </span>
        </el-dialog>
        <!--版本>>已发布>>-->
        <el-dialog
                :show-close="false"
                top="35vh"
                width="280px"
                :close-on-click-modal="false"
                title="提示"
                :visible.sync="dialogPush">
            <span>
                <div style="font-size: 12px;position: relative;left:0px;top:20px ;height: 10px"><i
                        style="color:#FF9900;transform: scale(2);margin-right: 10px" class="el-icon-warning"></i><i>确定是否删除？</i></div>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button size="mini" plain @click="dialogPush = false">取 消</el-button>
                <el-button size="mini" plain type="primary" @click="verPush">确 定</el-button>
            </span>
        </el-dialog>
        <!--版本>>编辑&添加>>-->
        <el-dialog
                :show-close="false"
                top="20vh"
                width="330px"
                :close-on-click-modal="false"
                title="添加"
                :visible.sync="dialogAddVer">
            <span>
                <div>
                    <el-form label-width="80px" size="mini" v-model="addVer">
                        <el-form-item label="WGT上传">
                             <el-upload
                                     style="display: inline-block"
                                     ref="uploadwgt"
                                     :on-success="handleAvatarSuccess"
                                     :limit=1
                                     accept=".wgt"
                                     :on-remove="onRemove"
                                     :headers="token"
                                     :data='{softwareId:this.addVer.softwareId}'
                                     :before-remove="beforeRemove"
                                     :on-exceed="handleExceed"
                                     class="upload-demo"
                                     :action='Upload'>
                                <el-button size="small" style="padding: 6px" plain type="primary">点击上传WGT</el-button>
                            </el-upload>
                           <!-- <label style="display: inline-block">只能上传WGT文件</label>-->
                        </el-form-item>
                        <el-form-item label="版本文件">
                            <!--上传wgt-->
                                <el-input v-model="addVer.fileName" readonly
                                          style="width: 220px;margin-left: -0px;margin-right: 8px"/>
                        </el-form-item>
                        <el-form-item label="版本名称"><el-input disabled v-model="addVer.name"/></el-form-item>
                        <!-- <el-form-item label="APP名称">
                           <el-input v-model="addVer.name" disabled />
                         </el-form-item>-->
                        <!--      <el-form-item label="发布日期"><el-input v-model="addVer.releaseDate"/></el-form-item>-->
                        <el-form-item v-show="false" label="版本码升级"><el-input v-model="addVer.code" disabled/></el-form-item>
                        <el-form-item label="版本说明">
                            <el-input v-model="addVer.describe" style="width: 220px" type="textarea"/></el-form-item>
                    </el-form>
                </div>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button size="mini" plain  @click="disUploadwgt" >取 消</el-button>
                <el-button size="mini" plain type="primary" :disabled="isclick" @click="addVerList()/*dialogEdit = false*/">确 定</el-button>
            </span>
        </el-dialog>
        <el-dialog
                :show-close="false"
                top="20vh"
                width="330px"
                :close-on-click-modal="false"
                title="编辑"
                :visible.sync="dialogEdit">
            <span>
                <div>
                    <el-form label-width="80px" size="mini" v-model="editVerData">
                        <el-form-item label="版本文件">
                             <el-input disabled v-model='editVerData.fileName'/>
                        </el-form-item>
                        <el-form-item label="版本名称"><el-input disabled v-model="editVerData.name"/></el-form-item>
                        <!--
                                                <el-form-item label="发布日期"><el-input v-model="addVer.releaseDate"/></el-form-item>
                        -->
                        <el-form-item label="版本码升级"><el-input v-model="editVerData.code" disabled/></el-form-item>
                        <el-form-item label="版本说明"><el-input v-model="editVerData.describe"
                                                             type="textarea"/></el-form-item>
                    </el-form>
                </div>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button size="mini" plain @click="dialogEdit = false">取 消</el-button>
                <el-button size="mini" plain type="primary" @click="sureEditVer()/*dialogEdit = false*/">确 定</el-button>
            </span>
        </el-dialog>
        <!--版本>>取消推荐-->
        <el-dialog
                :show-close="false"
                top="35vh"
                width="280px"
                :close-on-click-modal="false"
                title="提示"
                :visible.sync="dialogSuggest">
            <span>
                <div style="font-size: 12px;position: relative;left:0px;top:20px ;height: 10px"><i
                        style="color:#FF9900;transform: scale(2);margin-right: 10px" class="el-icon-warning"></i><i>确定是否取消推荐？</i></div>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button size="mini" plain @click="dialogSuggest = false">取 消</el-button>
                <el-button size="mini" plain type="primary" @click="deSuggest">确定</el-button>
            </span>
        </el-dialog>
        <!---版本>>删除-->
        <el-dialog
                :show-close="false"
                top="35vh"
                width="280px"
                :close-on-click-modal="false"
                title="提示"
                :visible.sync="dialogInDle">
            <span>
                <div style="font-size: 12px;position: relative;left:0px;top:20px ;height: 10px"><i
                        style="color:#FF9900;transform: scale(2);margin-right: 10px" class="el-icon-warning"></i><i>确定是否删除？</i></div>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button size="mini" plain @click="dialogInDle = false">取 消</el-button>
                <el-button size="mini" plain type="primary" @click="sureDeleteVer">确 定</el-button>
            </span>
        </el-dialog>
        <!---版本>>删除>>推荐-->
        <el-dialog
                :show-close="false"
                top="35vh"
                width="280px"
                :close-on-click-modal="false"
                title="提示"
                :visible.sync="dialogInDleSug">
            <span>
                <div style="font-size: 12px;position: relative;left:0px;top:20px ;height: 10px"><i
                        style="color:#FF9900;transform: scale(2);margin-right: 10px" class="el-icon-warning"></i><i>{{verMessage}}已推荐 ，不能被删除</i></div>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button size="mini" plain @click="dialogInDleSug = false">取 消</el-button>
                <el-button size="mini" plain type="primary" @click="dialogInDleSug = false">确 定</el-button>
            </span>
        </el-dialog>
        <!-- 版本>>设置为推荐-->
        <el-dialog
                :show-close="false"
                class="prompt"
                top="35vh"
                width="280px"
                :close-on-click-modal="false"
                title="提示"
                :visible.sync="dialogDeSuggest">
             <span>
                 <div style="font-size: 12px;position: relative;left:0px;top:20px ;height: 10px"><i
                         style="color:#FF9900;transform: scale(2);margin-right: 10px" class="el-icon-warning"></i><i>确定是否设置为推荐？</i></div>
             </span>
            <span slot="footer" class="dialog-footer">
                 <el-button size="mini" plain @click="dialogDeSuggest = false">取 消</el-button>
                 <el-button size="mini" plain type="primary" @click="setSuggest">确 定</el-button>
             </span>
        </el-dialog>
        <!--发布-->
        <el-dialog
                :show-close="false"
                class="prompt"
                top="35vh"
                width="280px"
                :close-on-click-modal="false"
                title="提示"
                :visible.sync="dialogDePush">
             <span>
                 <div style="font-size: 12px;position: relative;left:0px;top:20px ;height: 10px"><i
                         style="color:#FF9900;transform: scale(2);margin-right: 10px" class="el-icon-warning"></i><i>{{verMessage}}是否确认发布？</i></div>
             </span>
            <span slot="footer" class="dialog-footer">
                 <el-button size="mini" plain @click="dialogDePush = false">取 消</el-button>
                 <el-button size="mini" plain type="primary" @click="verPush">确 定</el-button>
             </span>
        </el-dialog>
    </div>
</template>
<script>
    import {
        addList,
        addVer,
        deleteList,
        deleteVer, editList, GetEntity,
        getList,
        getVerList,
        SetRecommend,
        SetRelease, UpdateVer,
        Upload,
        UploadAPK
    } from "@/api/baseService";
    import {getAppList} from "../api/SystemManage/SystemManage";
    import Clipboard from 'clipboard';
    import {baseUrl} from "@public/config";
    export default {

        created() {
            this.getList()
        },
        name: "main_table",
        /*provide() { //提供
            return {
                reload: this.reload
            }
        },*/
        data() {
            return {
                token:{Authorization:'Bearer '+localStorage.getItem('token')},
                look1:'',
                APPFILE:'',
                isclick:true,//上传时确认按钮是否可以点击
                //UploadAPK:UploadAPK,
                Upload: Upload,
                softwareId: '',
                AppName: '',
                verMessage: '',
                AppId: 0,
                middlewareID: 0,
                middleware: 0,
                //分页设置
                pageSet: {
                    totalCount: 0,
                    pageSize: 0,
                    pageIndex: 1,
                },

                /*-------------------------------------------------------------------------*/
                dialogAdd: false,//添加APP项目
                dialogDle: false,//删除
                dialogPush: false,//版本>发布
                dialogEdit: false,//版本>添加&编辑
                dialogSuggest: false,//推荐
                dialogInDle: false,//版本》》删除
                dialogVisibleVersion: false,//版本
                dialogVisibleedit: false,//编辑
                dialogInDleSug: false,//版本》》删除》》推荐
                dialogDeSuggest: false,
                dialogDePush: false,
                dialogAddVer: false,
                /*-------------------------------------------------------------------------*/
                //选择制造商
                manufacturer:[
                    {value:'海兰信',label:'海兰信'}
                    ],
                addVer: {
                    appId: "",
                    code: "",
                    name: "",
                    fileName: "",
                    filePath: "",
                    type: 0,
                    softwareId: 0,
                    size: "",
                    releaseDate: "",
                    isRecommend: 0,
                    describe: "",
                    md5: "",
                    createTime: "",
                    updateTime: "",
                    operator: this.$store.state.userInfo.name
                },
                tableData: [],
                verTableData: [
                    {
                        createTime: "",
                        fileName: "",
                        id: 0,
                        isRecommend: 0,
                        name: "",
                        operator: "",
                        releaseDate: "",
                        size: "",
                        softwareId: 0,
                        softwareName: '',
                        updateTime: "2021-09-27 11:45:48"
                    }
                ],

                addTableData: {
                    //versionName:'',
                    //versionCode:'',
                    name: "",
                    fileName: "",
                    filePath: "",
                    size: "",
                    code: "",
                    manufacturer:'',
                    operator: this.$store.state.userInfo.id.toString()
                },
                editAppData: {
                    id:0,
                    code:'',
                    name: '',
                    manufacturer: '',
                    type: '',
                    operator:this.$store.state.userInfo.name,
                },
                editVerData: {
                    id: 0,
                    appId: "",
                    code: "",
                    name: "",
                    fileName: "",
                    filePath: "",
                    type: 0,
                    softwareId: 0,
                    size: "",
                    releaseDate: "",
                    isRecommend: 0,
                    isRelease: 0,
                    describe: "",
                    md5: "",
                    createTime: "",
                    updateTime: "",
                    operator: ""
                }
            }
        },
        methods: {
            cancelUpload(){
                this.isclick = true
                this.dialogVisibleedit = false
                //this.$refs.updateApk.clearFiles();
            },
            //设置发布
            verPush() {
                if (this.middlewareID) {
                    this.$axios.post(SetRelease, {id: this.AppId, isRelease: 0}).then(() => {
                        this.$axios.post(getVerList, {"softwareId": this.middleware}).then(res => {
                            console.log(res);
                            this.verTableData = res.data.data
                        })
                    })
                    this.dialogPush = false
                } else {
                    this.$axios.post(SetRelease, {id: this.AppId, isRelease: 1}).then(() => {
                        this.$axios.post(getVerList, {"softwareId": this.middleware}).then(res => {
                            console.log(res);
                            this.verTableData = res.data.data
                        })
                    })
                    this.dialogDePush = false
                }
            },
            //发布
            release(index, rows) {
                console.log(rows[index])
                this.AppId = rows[index].id
                this.middlewareID = rows[index].isRelease
                this.verMessage = rows[index].name
                if (rows[index].isRelease) {
                    //this.dialogPush=true
                } else {
                    this.dialogDePush = true
                }

            },
            //获取列表
            getList() {
                //getAppList({pageIndex: this.pageSet.pageIndex})
                this.$axios.post(getList, {pageIndex: this.pageSet.pageIndex})
                    .then(res => {
                        this.tableData = res.data.data;
                        console.log(res);
                        this.pageSet.pageSize = res.data.pageSize;
                        this.pageSet.totalCount = res.data.totalCount;
                        this.pageSet.pageIndex = res.data.pageIndex
                    })
            },
            //添加版本列表
            addVerList() {
                this.$axios.post(addVer, this.addVer).then(res => {
                    this.$message.success(res.message,);
                    this.isclick = true
                    this.$refs.uploadwgt.clearFiles();
                    //清空FORM
                    this.addVer.name = ''
                    this.addVer.code = ''
                    this.addVer.fileName = ''
                    this.addVer.describe = ''

                    this.$axios.post(getVerList, {"softwareId": this.middleware}).then(res => {
                        console.log(res);
                        this.verTableData = res.data.data
                    })
                })
                this.dialogAddVer = false
            },
            //删除项目列表
            deleteApp(index, rows) {
                this.AppId = rows[index].id
                // console.log(this.AppId)
                this.dialogDle = true;
                // rows.splice(index, 1);
            },
            //取消上传wgt
            disUploadwgt(){
                this.dialogAddVer = false
                this.addVer.name = ''
                this.addVer.code = ''
                this.addVer.fileName = ''
                this.addVer.describe = ''
                //取消上传
                this.$refs.uploadwgt.abort();
                //清空文件列表
                this.$refs.uploadwgt.clearFiles();

            },
            //删除版本列表
            deleteVer(index, rows) {
                if (rows[index].isRecommend) {
                    this.verMessage = rows[index].name
                    //console.log(rows[index].isRecommend)
                    this.dialogInDleSug = true
                } else {
                    this.AppId = rows[index].id
                    this.dialogInDle = true
                    console.log(rows[index].isRecommend)
                }
            },
            //版本>>确定删除
            sureDeleteVer() {
                this.$axios.post(deleteVer + '?id=' + this.AppId,).then(res => {
                    this.$message(res.message)
                    this.$axios.post(getVerList, {"softwareId": this.middleware}).then(res => {
                        console.log(res);
                        this.verTableData = res.data.data
                    })
                })
                this.dialogInDle = false
            },
            //取消推荐
            deSuggest(){
                this.dialogSuggest = false
                this.$axios.post(SetRecommend, {id: this.AppId, softwareId: this.middlewareID, isRecommend: 0}).then(() => {
                    this.$axios.post(getVerList, {"softwareId": this.middleware}).then(res => {
                        console.log(res);
                        this.verTableData = res.data.data
                    })
                })
            },
            //设置推荐
            setSuggest() {
                this.dialogDeSuggest = false
                this.$axios.post(SetRecommend, {id: this.AppId, softwareId: this.middlewareID, isRecommend: 1}).then(() => {
                    this.$axios.post(getVerList, {"softwareId": this.middleware}).then(res => {
                        console.log(res);
                        this.verTableData = res.data.data
                    })
                })
            },
            //打开推荐
            suggest(index, rows) {
                console.log(rows[index])
                this.AppId = rows[index].id
                this.middlewareID = rows[index].softwareId
                this.verMessage = rows[index].name
                if (rows[index].isRecommend) {
                    this.dialogSuggest = true
                } else {
                    if (rows[index].isRelease) {
                        this.dialogDeSuggest = true
                    } else {
                        this.$message.error('未发布不可以被设置推荐')
                    }

                }
                // console.log(rows[index].isRecommend)
            },
            //判断是否为akp文件
            isAPK(index,rows){
                let str = rows[index].fileName
               if(str.charAt(str.length-1) == 'k'){
                   return false
               } return true
            },
            //确定删除
            sureDelete() {
                //let _this = this
                this.$axios.post(deleteList + '?id=' + this.AppId,).then(res => {
                    if(res.code==200){
                        this.getList();
                        this.$message.success('删除成功')
                    }else{
                        this.$message.error(res.message)
                    }

                })
                this.dialogDle = false

                //this.reload()
                //console.log(deleteList+'?id='+this.AppId)
            },
            //上传APK成功
            uploadSuccessApk(res){
                //this.isclick = false
                this.addTableData.code = res.data.description
                this.addTableData.fileName = res.data.title
                this.addTableData.filePath = baseUrl+res.data.src
                this.addTableData.size = res.data.size
                console.log(res)
                //this.addTableData = res.
                this.isclick = false
            },
            //获取版本列表
            getVerList(index, rows) {
                console.log(index, rows[index])
                /* this.softwareId = */
                this.AppName = rows[index].name
                //this.addVer.name = rows[index].name
                this.middleware = rows[index].id
                this.APPFILE = rows[index].filePath
                this.addVer.softwareId = rows[index].id
                this.$axios.post(getVerList, {"softwareId": this.middleware}).then(res => {
                    console.log(res.data.data);
                    this.verTableData = res.data.data
                })
                this.dialogVisibleVersion = true

            },
            //打开编辑
            editApp(index, rows) {
                console.log(rows[index])
                this.isclick = false
                this.editAppData.code = rows[index].code
                this.editAppData.id = rows[index].id
                this.editAppData.name = rows[index].name
                this.editAppData.type = rows[index].type
                this.editAppData.manufacturer = rows[index].manufacturer
                this.dialogVisibleedit = true
            },
            //添加版本
            add() {
                //console.log(this.$store.state.userInfo.name)
                //this.addTableData.operator = this.$store.state.userInfo.name

                if(this.addTableData.name.length < 1 ){
                    this.$message.error('请输入项目名称')
                }else{
                    if(this.addTableData.manufacturer.length < 1){
                        this.$message.error('请选择制造商')
                    }else{
                        let arr = []
                        let arrCode=[]
                        for (let Key in this.tableData) {
                            arr.push(this.tableData[Key].name)
                        }
                        for (let Key in this.tableData) {
                            arrCode.push(this.tableData[Key].code)
                        }

                       // console.log(arrCode)
                        let nameIndex = arr.indexOf(this.addTableData.name);
                        let codeIndex = arrCode.indexOf(this.addTableData.code);
                        //console.log(this.addTableData.code[6])
                       // console.log(codeIndex)
                        if(nameIndex !== -1){
                            this.$message.error('项目名称重复')
                        }else if(codeIndex !== -1){
                            this.$message.error('APK文件已存在')
                        }else{
                            this.$axios.post(addList, this.addTableData).then(res => {
                                //console.log(res),
                                this.$message(res.message,);
                                this.getList()
                                this.addTableData.name = ''
                                this.addTableData.code = ''
                                this.addTableData.manufacturer = ''
                                this.dialogAdd = false
                                this.$refs.uploadApk.clearFiles();
                            })
                        }


                    }

                }



            },

            //
            getCode(){
               /* this.$axios.post(getMaxCode)
                    .then(res=>{
                        this.addTableData.code = res.code
                        console.log(res.code)
                    })*/
                this.isclick = true
                this.dialogAdd=true
            },
            /*//修改APK上传成功
            editSuccessApk(res, file, fileList){
                if(res.code == 200){
                 console.log(fileList)
                    this.isclick=false
                    this.editAppData.fileName = res.data.name
                    this.editAppData.filePath = baseUrl + res.data.src
                    this.editAppData.size = res.data.size

                }
            },*/
            //WGT上传成功
            handleAvatarSuccess(res, file, fileList) {
                if(res.code == 200){
                    this.addVer.name = res.data.name
                    this.addVer.fileName = res.data.title
                    this.addVer.size = res.data.size
                    this.addVer.code = res.data.code
                    this.addVer.filePath = baseUrl + res.data.src
                    this.isclick = false
                }else {
                    this.$refs.uploadwgt.clearFiles();
                    this.$message.error(res.message)

                }
                /*this.addVer.name = res.data.title*/

                //console.log(this.addVer.filePath)
                //console.log(res.data)
                //console.log()
                /*    console.log(fileList)*/
            },

            copy() {
                let clipboard = new Clipboard('.tag-read')
                clipboard.on('success', e => {
                    console.log('复制成功')
                    this.$message.success('复制成功')
                    // 释放内存
                    clipboard.destroy()
                })
                clipboard.on('error', e => {
                    // 不支持复制
                    console.log('该浏览器不支持自动复制')
                    // 释放内存
                    clipboard.destroy()
                })
            },
            handleSizeChange: function (size) {
                this.pageSet.pageSize = size;
            },
            //版本>>编辑
            editVer(index, rows) {
                //console.log(rows[index])
                this.$axios.post(GetEntity + "?Id=" + rows[index].id).then(res => {
                    console.log(res);
                    this.editVerData = res.data
                })
                //this.editVerData.id = rows[index].id
                this.dialogEdit = true
                //this.verTableData = rows.
            },
            //发送编辑版本请求
            sureEditVer() {
                this.$axios.post(UpdateVer, this.editVerData)
                this.dialogEdit = false
            },

            look(index,rows){
                //console.log(rows[index])
                this.$axios.post(GetEntity + "?Id=" + rows[index].id).then(res => {
                    console.log(res);
                    this.look1 = res.data.describe
                    //this.editVerData.describe = res.data.describe
                })
            },
            //翻页
            handleCurrentChange: function (pageIndex) {
                this.pageSet.pageIndex = pageIndex
                //this.getList({pageIndex:pageIndex})
                this.$axios.post(getList, {pageIndex: pageIndex})
                    .then(res => {
                        console.log(res.data.data);
                        this.tableData = res.data.data
                    })
            },
            indexNumber(index) {
                return (this.pageSet.pageIndex - 1) * this.pageSet.pageSize + index + 1
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${ file.name }？`);
            },
            handleExceed(files, fileList) {
                this.$message.warning('一次只能上传一个文件') ;
            },
            tableRowClassName({row, rowIndex}) {
                if (rowIndex == 1) {
                    return 'RecommendRow';
                }
            },
            //移除文件
            onRemove(file,fileList){
                this.isclick = true
            },
            //确定修改APP
            sureEditAPP(){
                this.dialogVisibleedit =false
                this.$axios.post(editList,this.editAppData).then(this.getList)
            },
            //判断APP地址是否为空
            APPPathFull(index,rows){
                if(rows[index].filePath == ''){
                    return false
                }return true
            },
            TableRowStyle({ row, rowIndex }) {
                // 注意，这里返回的是一个对象
                let rowBackground = {};
                if (row.isRecommend == 1 ) {
                    rowBackground.background = "pink";
                    return rowBackground;
                }
            },
            cleanUploadAPK(){
                this.dialogAdd = false
                this.addTableData.name='',
                    this.addTableData.manufacturer='',
                    this.addTableData.code = ''
                this.isclick = true

            },
        },
    }
</script>
<style scoped>
    >>>.el-upload-list__item-name{
        max-width: 200px;
    }
    .el-table .RecommendRow{
        background: red;
    }
    .el-form-item {
        margin: 0 0 0 -20px;
        padding-top: 18px;
    }

    #main {

        max-width: 87vw;

        /*overflow: auto;*/
    }

    #pagination {
        margin-top: 0;
        float: right;
    }

    .el-input {
        width: 220px;
    }

    .addTable {
        font-size: 12px;
        padding: 12px;
        position: relative;


    }

    >>> .el_dialog .el-dialog__body::before {
        margin-top: 10px;
    }

    .el_dialog .el-form-item {
        margin: -10px 0 -5px 5px;
    }

    ::v-deep .el-dialog__title {
        font-size: 12px;
        font-weight: bold;
    }

    ::v-deep .el-dialog__header {
        padding: 10px 15px 5px;
    }

    ::v-deep .el-dialog__body {
        padding-top: 0;
    }

    ::v-deep .el-form-item__label {
        font-size: 12px;


    }

    .el-table::before {
        height: 0;
    }

    .el-dialog::before {
        height: 1px;
        width: 100%;
        color: #FC7841;
    }

    .el-dialog__body::before {
        content: '';
        position: absolute;
        left: 0;
        background-color: #EBEEF5;
        z-index: 1;
        width: 100%;
        height: 1px;
    }

    ::v-deep .el-dialog__body::before {
        content: '';
        position: absolute;
        left: 0;
        background-color: #EBEEF5;
        z-index: 1;
        width: 100%;
        height: 1px;
    }

    /*----------------------------
    #el-dialog>el-form-item{
        margin: 0;
    }
    ----------------------------*/
</style>
