<template>
    <div>
        <el-button @click="addDia = true" size="mini">添加用户</el-button>
        <div style="height:15vh;background-color:#fff;">

            <el-table
                    class="addTable"
                    :stripe="true"
                    :data="tableData"
                    style="height:85vh;width: 100%">
                <el-table-column
                        type="index"
                        :index="indexNumber"
                        label="序号"
                        width="90">
                </el-table-column>
                <el-table-column
                        prop="accress"
                        label="账号">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="姓名">
                </el-table-column>
                <el-table-column
                        prop="state"
                        label="用户状态">
                    <el-tag>正常</el-tag>
                </el-table-column>
                <el-table-column
                        prop="modifyTime"
                        label="上次登陆时间">
                </el-table-column>
                <el-table-column
                        prop="createTime"
                        label="创建时间">
                </el-table-column>
                <el-table-column

                        label="操作">
                    <template slot-scope="scope">

                        <el-button @click="edit(scope.$index,tableData)" style="color:#8FD76E;" size="mini" type="text">
                            <i
                                    class="el-icon-edit">编辑</i></el-button>
                        <el-button v-if="admin(scope.$index,tableData)" @click="deleteUser(scope.$index,tableData)"
                                   style="color:#FC7841;" size="mini" type="text"><i class="el-icon-delete">删除</i>
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    style="margin-top:-2px;"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :page-sizes="[10, 20, 50, 100]"
                    :page-size="pageSet.pageSize"
                    :current-page="pageSet.pageIndex"
                    :total="pageSet.totalCount"
                    :data="tableData"
                    id="pagination"
                    layout="prev, pager, next"
            >
            </el-pagination>
        </div>

        <el-dialog
                top="32vh"
                width="330px"
                :close-on-click-modal="false"
                title="添加用户"
                :visible.sync="addDia">
            <el-form style="margin-top: 10px" label-position="left" label-width="80px">
                <el-form-item label="账号">
                    <el-input v-model="addUser.accress" size="mini" style="width: 230px" type="text"/>
                </el-form-item>
                <el-form-item label="姓名">
                    <el-input v-model="addUser.name" size="mini" style="width: 230px" type="text"/>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button style="margin-top: 8px" size="mini" plain
                           @click="addDia = false, addUser.name = '',addUser.accress = ''">取 消</el-button>
                <el-button size="mini" plain type="primary" @click="sureAdd">确 定</el-button>
          </span>
        </el-dialog>
        <el-dialog
                top="32vh"
                width="330px"
                :close-on-click-modal="false"
                title="编辑"
                :visible.sync="dialogInfo">
            <el-form style="margin-top: 10px" label-position="left" label-width="80px">
                <el-form-item label="账号">
                    <el-input disabled v-model="editTable.accress" size="mini" style="width: 230px" type="text"/>
                </el-form-item>
                <el-form-item label="名称">
                    <el-input v-model="editTable.name" size="mini" style="width: 230px" type="text"/>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button style="margin-top: 8px" size="mini" plain @click="dialogInfo = false">取 消</el-button>
                <el-button size="mini" plain type="primary" @click="sureEdit">确 定</el-button>
          </span>
        </el-dialog>
        <el-dialog
                class="prompt"
                top="35vh"
                width="250px"
                :close-on-click-modal="false"
                title="提示"
                :visible.sync="dialogDel">
            <span>
                <div style="font-size: 12px;position: relative;left:20px;top:20px ;height: 50px"><i
                        style="color:#FF9900;transform: scale(2);margin-right: 10px" class="el-icon-warning"></i><i>确定是否删除？</i></div>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button size="mini" plain @click="dialogDel = false">取 消</el-button>
                <el-button size="mini" plain type="primary" @click="sure">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
    import {DeleteUser, GetUserList, Update} from "@/api/baseService";
    import {addUser} from "@/api/baseService";

    export default {
        created() {

            this.getUserList()
        },
        name: "System",
        data() {
            return {
                pageSet: {
                    totalCount: 0,
                    pageSize: 0,
                    pageIndex: 1,
                },
                addDia: false,
                dialogDel: false,
                dialogInfo: false,
                addUser: {
                    accress: '',
                    name: '',
                    password: '123456'
                },
                editTable: {
                    id: 0,
                    accress: '',
                    company: '',
                    name: "",
                    post: "",
                    phone: "",
                    email: "",
                    createTime: "",
                    createUserId: "",
                    isDelete: 0

                },
                tableData: []
            }
        },
        methods: {
            sureAdd() {
                if (this.addUser.accress.length < 1) {
                    this.$message.error('请输入账号')
                } else if (this.addUser.name.length < 1) {
                    this.$message.error('请输入姓名')
                } else {
                    //this.getUserList()
                    let arrAccress = []
                    let arrName = []
                    for (let Key in this.tableData) {
                        arrName.push(this.tableData[Key].name)
                    }
                    for (let Key in this.tableData) {
                        arrAccress.push(this.tableData[Key].accress)
                    }
                    let nameIndex = arrName.indexOf(this.addUser.name);
                    let nameAccress = arrAccress.indexOf(this.addUser.accress);
                    console.log(nameIndex, nameAccress)
                    if (nameIndex !== -1) {
                        this.$message.error('姓名重复')
                    } else if (nameAccress !== -1) {
                        this.$message.error('账号重复')
                    } else {
                        this.$axios.post(addUser, this.addUser)
                            .then(res=>{this.addDia = false,
                                this.$message.success('添加成功'),
                                this.getUserList(),
                                this.addUser.name = '',
                                this.addUser.accress = ''
                            }
                            )

                    }
                    console.log(arrAccress, arrName)
                }

            },
            deleteUser(index, rows) {
                //console.log(rows[index])
                this.userId = rows[index].id
                this.dialogDel = true
                //return userId
            },
            sure() {
                //alert(this.userId)
                this.$axios.post(DeleteUser + '?Id=' + this.userId)
                    .then(
                        this.getUserList,
                        this.$message.success('删除成功'))
                this.dialogDel = false
            },
            //获取用户列表
            getUserList() {
                this.$axios.post(GetUserList, {pageIndex: this.pageSet.pageIndex}).then(res => {
                    console.log(res);
                    this.tableData = res.data.data;
                    this.pageSet.pageSize = res.data.pageSize;
                    this.pageSet.totalCount = res.data.totalCount;
                    this.pageSet.pageIndex = res.data.pageIndex
                })
            },
            //编辑获取
            edit(index, rows) {
                //console.log(rows[index].id)
                this.editTable.id = rows[index].id
                this.editTable.accress = rows[index].accress
                this.editTable.name = rows[index].name
                this.dialogInfo = true
            },
            //判断是否为rootuser
            admin(index, rows) {
                if (rows[index].accress == 'admin') {
                    return false
                }
                return true
            },
            sureEdit() {
                this.dialogInfo = false
                this.$axios.post(Update, this.editTable).then(this.getUserList, this.$message.success('修改成功'))
            },
            /////
            handleSizeChange: function (size) {
                this.pageSet.pageSize = size;
            },
            handleCurrentChange: function (pageIndex) {
                this.pageSet.pageIndex = pageIndex
                //this.getList({pageIndex:pageIndex})
                this.$axios.post(GetUserList, {pageIndex: pageIndex})
                    .then(res => {
                        console.log(res.data.data);
                        this.tableData = res.data.data
                    })
            },
            indexNumber(index) {
                return (this.pageSet.pageIndex - 1) * this.pageSet.pageSize + index + 1
            },
        }
    }
</script>

<style scoped>
    .addTable {
        font-size: 12px;
    }

    ::v-deep .el-dialog__header {
        padding: 10px 20px 0px;
    }

    ::v-deep .el-dialog__body {
        padding: 0;
    }

    /deep/ .el-input__inner {
        height: 26px;
    }

    ::v-deep .el-dialog__body::before, ::v-deep .el-dialog__body::after {
        content: '';
        position: absolute;
        left: 0;
        background-color: #EBEEF5;
        z-index: 1;
        width: 100%;
        height: 1px;
    }

    ::v-deep .el-form-item__label {
        font-size: 12px;
        padding: 0 20px 0 30px;
    }

    ::v-deep .el-dialog__title {
        font-size: 12px;
        font-weight: bold;
    }

    ::v-deep .el-table .el-table__cell {
        padding: 10px 0;
    }

    .el-form-item {
        margin-bottom: 5px;
    }

    #pagination {
        transform: translate(0, -100%);
        float: right;
        z-index: 1;
    }
</style>